html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(9, 15, 39);
    color: rgb(4, 255, 234);
    font-family: 'Oswald', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

/*Loader CSS*/

.loader-wrapper{
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 3.5s;

}

.container-loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.First-Box{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: white;
    margin: auto;
    border-radius: 50px;
}

.Second-Box{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: white;
    margin: auto;
    transform: rotate(90deg);
    border-radius: 50px;
}

.Third-Circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(9, 15, 39);
    border-radius: 50%;
    border-top: 5px solid yellow;
    border-bottom: 5px solid green;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Forth-Circle{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(9, 15, 39);
    border-radius: 50%;
    border-right: 5px solid red;
    border-left: 5px solid black;
    animation-name: rotate2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Logo{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(14, 24, 65);
}

.Logo h1{
    font-size: 40px;
    margin-left: 18px;
    margin-top: -5px;
    text-shadow: 0 0 10px rgb(69, 255, 239);
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes fade{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes rotate{
    0% {transform: rotate(0deg); -webkit-transform: rotate(0deg);}
    100% {transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}

@keyframes rotate2{
    0% {transform: rotate(0deg); -webkit-transform: rotate(0deg);}
    100% {transform: rotate(-360deg); -webkit-transform: rotate(-360deg);}
}

/*header CSS*/

.header-wrapper{
    width: 100%;
    top: 0;
    left: 0;
}

.container{
    width: 100%;
}

.logo-header{
    float: left;
    animation: header-fade 2s;
}

.logo-header h1{
    font-size: 25px;
    margin: 5px 15px;
    text-shadow: 0 0 10px rgb(69, 255, 239);
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    letter-spacing: 5px;
}

.nav-list{
    float: right;
    animation-name: header-fade;
    animation-duration: 2s;
}

.nav-list li{
    display: inline-block;
    padding: 0px 25px;
}

.nav-list a{
    color: white;
    font-size: 15px;
    letter-spacing: 4px;
}

.nav-list span{
    color: rgb(44, 197, 224);
}

.dot{
    height: 5px;
    width: 5px;
    background-color: rgb(44, 197, 224);
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
    box-shadow: 0 0 5px rgb(69, 255, 239);
}

#dropdown{
    display: none;
}

@keyframes header-fade{
    0% {opacity: 0%;};
    100% {opacity: 100%;};
}

@keyframes glow{
    0% {text-shadow: 0 0 0px rgb(69, 255, 239);};
    100% {text-shadow: 0 0 10px rgb(69, 255, 239);};
}

/*top-wrapper*/

.top-wrapper{
    width: 100%;
}

.container-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-box{
    width: 95%;
    height: 95%;
    background-color: rgb(2, 7, 27);
    border-radius: 25px;
    padding: 100px 150px;
    text-align: center;
    border: 1px solid rgb(44, 197, 224);
    box-shadow: 1px 1px 10px 1px rgb(43, 206, 235);
    margin: 70px 0px;
    animation-name: fadebox;
    animation-duration: 1s;
    animation-delay: 0s;
}

.content-box h1{
    font-size: 28px;
    padding: 20px 10px;
    letter-spacing: 2px;
}

.content-box h1:hover{
    text-shadow: 0 0 10px rgb(69, 255, 239);
    transition: all .5s;
}

.content-box p{
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 25px;
    margin: 0px;
}

.button-more{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.btn{
    padding: 10px 40px;
    border: 1px solid rgb(4, 255, 234);
    border-radius: 10px;
}

.btn-more{
    color: rgb(4, 255, 234);
    font-size: 16px;
    letter-spacing: 2px;
}

.btn:hover{
    box-shadow: 1px 1px 10px 1px rgb(43, 206, 235);
    transition: all .5s;
}

@keyframes fadebox{
    0% {opacity: 0; transform: translateY(10%); -webkit-transform: translateY(10%);};
    100% {opacity: 1; transform: translateY(0%); -webkit-transform: translateY(0%);};
}

/* About me */

.wrapper{
    width: 100%;
    margin: 0px 0px 100px 0px;
    display: flex;
    flex-wrap: wrap;
}

.about-me-title{
    padding: 10px 30px;
    display: flex;
    flex-wrap: flex;
    justify-content: center;
}

.about-me-title h1{
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
}

.line{
    padding: 0px 100px;
    width: 30%;
    height: 2px;
    background-color: white;
    display: inline-block;
}

.about-me-content{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 40px;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.image-content{
    width: 250px;
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: 0 0 10px rgb(69, 255, 239);
}

.image-content:hover{
    width: 260px;
    transition: all .5s;
}

.text-content{
    color: white;
    margin-left: 90px;
}

.text-content p{
    letter-spacing: 2px;
    font-size: 17px;
}

.txt-imp{
    color: rgb(4, 255, 234);
}

.txt-imp:hover{
    text-shadow: 0 0 10px rgb(69, 255, 239);
    transition: all .5s;
}

/*Project*/

.container-project{
    width: 100%;
    padding: 20px 20px;
}

.row-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column: 20px;
    padding: 10px;
}

.card-box-project{
    margin: 20px;
    padding: 10px;
    background-color: rgb(2, 7, 27) ;
    box-shadow: 0 0 10px rgb(69, 255, 239);
    border-radius: 20px;
}

.img-card{
    width: 100%;
    border-radius: 20px;
}

.card-txt{
    color: white;
    padding: 0px 5px;
}

.card-txt h2{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.card-txt p{
    font-size: 14px;
    letter-spacing: 2px;
}

.button-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.button-link a{
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}
